@keyframes colors {
  0% {background-color: #7FB3D5;}
  25% {background-color: #A569BD;}
  50% {background-color: #D98880;}
  75% {background-color: #A569BD;}
  100% {background-color: #7FB3D5;}
}
@keyframes darker_colors {
  0% {background-color: #2471A3;}
  25% {background-color: #7D3C98;}
  50% {background-color: #A93226;}
  75% {background-color: #7D3C98;}
  100% {background-color: #2471A3;}
}
.pokemon-selector-app {
  position: relative;
  display: flex;
  height: 100%;
  width: 100%;
  align-items: stretch;
  justify-content: space-around;
  animation: colors 100s infinite;
  color: whitesmoke;
}
button {
  animation: darker_colors 100s infinite;
  color: #ffffff;
  border: 0px;
  border-radius: 6px;
  padding: 7px;
  box-shadow: 4px 7px 7px 4px rgba(0,0,0,0.2);
  text-decoration: none;
  font-size: 14px;
  font-weight: 720;
  margin: 10px;
}
input {
  border: 0px;
  padding: 6px;
  border-radius: 6px;
  box-shadow: 6px 10px 10px 6px rgba(0,0,0,0.2);
}
.dex-entry {
  padding: 10px;
  border-radius: 10px;
  margin: 4px auto;
  display: grid;
  grid-template: auto / 1fr 2fr 1fr 1fr;
  animation: darker_colors 100s infinite;
  box-shadow: 4px 4px 10px 4px rgba(0,0,0,0.2);
}
.pokemon-list {
  position: relative;
  padding: 20px;
  flex-basis: 1 0 33.333333333%;
  overflow-x: hidden;
  overflow-y: scroll;
  height: 96vh;
  width: 33.33333333%;
  left: 0;
}
.pokemon-details {
  flex-basis: 1 0 66.666666666%;
  padding: 20px;
  width: 66.6666666%;
  grid-column: 2 / span 1;
}
.pokemon-sprite {
  grid-column: 1 / span 1;
}
.star-button {
  grid-column: 4 / span 1;
}
.details-display {
  padding: 10px;
  border-radius: 10px;
  margin: 4px auto;
  display: grid;
  grid-template-rows: 1fr 4fr 3fr;
  grid-template-columns: 1fr 1fr;
  animation: darker_colors 100s infinite;
  box-shadow: 4px 4px 10px 4px rgba(0,0,0,0.2);
}
.details-img {
  width: 12vw;
  margin: auto;
  border:1px solid #dddddd;
  border-radius: 6px;
  padding: 6px;
}
.details-text {
  padding: 4px;
  margin: auto;
}
.hidden-overflow {
  height: 100px;
  overflow-y: scroll;
  border:1px solid #dddddd;
  border-radius: 6px;
  padding: 4px;
  margin: 4px;
}